:root{
  --icon-color: #2E4277;
}

body{
  background-color: #e5e5e5;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0;
  margin: 0;

  width: auto;
  height: 100vh;

  background-color: #e5e5e5;

  position: relative;

}

#mymotiondiv{
  width: 20px;
  height: 20px;
  background-color: lawngreen;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #FFF;
  padding: 0 10vw;
  box-shadow: 0px 10px 20px rgba(0,0,0,.07);
  display: flex;
  align-items: center;
  z-index: 10;
}

header span{
  font-size: 18px;
}

main{
  position: absolute;
  top: 12vh;
  height: 100%;
}
main h2{
  margin-bottom: 20px;
  color: #393b3d;
  font-size: 26px;
}

.icons{
    fill:var(--icon-color);
    color: var(--icon-color);
}

.server{
  width: 80vw;
  height: 86px;
  background-color: #FFF;
  border-radius: 15px;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.server:hover{
  background-color: rgb(241, 241, 241);
}

.server .column{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.server .column span{
  margin-left: 10px;
}

.inserver{
  display: flex;
  align-items: center;
}

.inserver span{
  margin-left: 10px;
}

.circlered{
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: solid 1px black;
  animation: pulsered .5s ease infinite;
}


@keyframes pulsered {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.circlegreen{
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: solid 1px black;
  animation: pulsegreen .5s ease infinite;
}


@keyframes pulsegreen {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.underBar{
  display: none;
}

.underBar-open{
  width: 80%;
  height: 40px;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordionHeader h2{
  color:red;
}